<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/natstyles.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Open+Sans|Vollkorn" rel="stylesheet">
</head>

{% block body %}
<body>
    <div class="title">
    <p>Compare YOUR Movie</p>
    <div class="winner">
    <p>Winner: {{winner}}</p>
    </div>
    </div>

<div class="first">
    <h1 class="indent">{{m1}}</h1>
    <div class="img1">
        <img src= {{i1}} width="200" height="300">
    </div>
    <div class="content">
        <h2 class ="overview">Overview:</h2>
        <p>{{ov1}}</p>
        <p><strong>Sentiment Score:</strong> {{score1}} </p>
    </div>

</div>

<div class="second">
    <h1>{{m2}}</h1>
    <div class="img2">
        <img src= {{i2}} width="200" height="300">
    </div>
    <div class="content">
        <h2 class ="overview">Overview:</h2>
        <p>{{ov2}}</p>
        <p><strong>Sentiment Score:</strong> {{score2}}</p>
    </div>

</div>
{% endblock %}

</html>
