.choices {
  padding: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
}

h1 {
  padding: 2em;
}

.myCarousel {
  padding: 2em;
  text-align: center;
}

.item {
  text-align: center;
  margin-left: 4em;
}

/*For index3.html */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
